name: Deployment
on:
  issue_comment:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          VERSION_TAG=$(git rev-parse --short HEAD)
          docker build --no-cache --pull -t tylovejoy/genshinbot:$VERSION_TAG -t tylovejoy/genshinbot:latest .

      - name: Push Docker image to Docker Hub
        run: |
          VERSION_TAG=$(git rev-parse --short HEAD)
          docker push tylovejoy/genshinbot:$VERSION_TAG
          docker push tylovejoy/genshinbot:latest

  deploy_to_prod:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main' && github.event_name != 'issue_comment'
    environment: production
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_HOST_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Add remote host to known_hosts
        run: |
          ssh-keyscan -H ${{ secrets.SERVER_HOST_IP }} >> ~/.ssh/known_hosts

      - name: Set up Docker context for prod
        run: |
          docker context create prod-server \
            --docker "host=ssh://${{ secrets.SERVER_HOST_USER }}@${{ secrets.SERVER_HOST_IP }}" \
            --description "Prod server context"
          docker context use prod-server

      - name: Deploy to Remote Prod Server
        run: |
          VERSION_TAG=$(git rev-parse --short HEAD)
          echo "Deploying to Prod Server..."
          
          docker compose -f docker-compose.yml up -d --build --no-deps --force-recreate

        env:
          VERSION_TAG: ${{ github.sha }}
          TOKEN: ${{ secrets.TOKEN }}

  deploy_to_dev:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event.issue.pull_request && github.event.comment.body == '/dev-deploy' && github.event.comment.user.login == 'tylovejoy' }}
    environment: development
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_HOST_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa 

      - name: Add remote host to known_hosts
        run: |
          ssh-keyscan -H ${{ secrets.SERVER_HOST_IP }} >> ~/.ssh/known_hosts

      - name: Set up Docker context for dev
        run: |
          docker context create dev-server \
            --docker "host=ssh://${{ secrets.SERVER_HOST_USER }}@${{ secrets.SERVER_HOST_IP }}" \
            --description "Dev server context"
          docker context use dev-server

      - name: Deploy to Remote Dev Server
        run: |
          VERSION_TAG=$(git rev-parse --short HEAD)
          echo "Deploying to Dev Server..."
          
          docker compose -f docker-compose.dev.yml up -d --build --no-deps --force-recreate

        env:
          VERSION_TAG: ${{ github.sha }}
          TOKEN: ${{ secrets.TOKEN }}
